In [4]:
import sqlite3
import os
import pandas as pd

DB_PATH = os.path.join("..", "database", "air_tracker.db")
conn = sqlite3.connect(DB_PATH)
cursor = conn.cursor()

print("DB created at:", DB_PATH)

DB created at: ../database/air_tracker.db

In [5]:
cursor.execute("""
CREATE TABLE airport (
    airport_id INTEGER PRIMARY KEY AUTOINCREMENT,
    icao_code TEXT UNIQUE,
    iata_code TEXT UNIQUE,
    name TEXT,
    city TEXT,
    country TEXT,
    continent TEXT,
    latitude REAL,
    longitude REAL,
    timezone TEXT
)
""")

In [6]:
cursor.execute("""
CREATE TABLE aircraft (
    aircraft_id INTEGER PRIMARY KEY AUTOINCREMENT,
    registration TEXT UNIQUE,
    model TEXT,
    manufacturer TEXT,
    icao_type_code TEXT,
    owner TEXT
)
""")

In [7]:
cursor.execute("""
CREATE TABLE airport_delays (
    delay_id INTEGER PRIMARY KEY AUTOINCREMENT,
    airport_iata TEXT,
    delay_date TEXT,
    total_flights INTEGER,
    delayed_flights INTEGER,
    avg_delay_min INTEGER,
    median_delay_min INTEGER,
    canceled_flights INTEGER
)
""")

conn.commit()

In [8]:
cursor.execute("""
CREATE TABLE flights (
    flight_number TEXT,
    airline_name TEXT,
    aircraft_registration TEXT,
    origin_iata TEXT,
    destination_iata TEXT,
    scheduled_time TEXT,
    actual_time TEXT,
    status TEXT,
    flight_type TEXT
)
""")
conn.commit()

In [9]:
airports_df = pd.read_csv("../data/airports.csv")
aircraft_df = pd.read_csv("../data/aircraft.csv")
flights_df = pd.read_csv("../data/flights.csv")
delays_df = pd.read_csv("../data/airport_delays.csv")

In [10]:
airports_df.to_sql("airport", conn, if_exists="append", index=False)
aircraft_df.to_sql("aircraft", conn, if_exists="append", index=False)
flights_df.to_sql("flights", conn, if_exists="append", index=False)
delays_df.to_sql("airport_delays", conn, if_exists="append", index=False)

474

In [11]:
for t in ["airport", "aircraft", "flights", "airport_delays"]:
    print(t, pd.read_sql(f"SELECT COUNT(*) AS cnt FROM {t}", conn))

airport    cnt
0   14
aircraft    cnt
0  277
flights     cnt
0  5133
airport_delays    cnt
0  474